@import url(https://fonts.googleapis.com/css?family=Patua+One|Roboto:600);

body {
  background: #0e419b;
    background: -moz-linear-gradient(left, #0e419b 0%, #19859c 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #0e419b), color-stop(100%, #19859c));
    background: -webkit-linear-gradient(left, #0e419b 0%, #19859c 100%);
    background: -o-linear-gradient(left, #0e419b 0%, #19859c 100%);
    background: -ms-linear-gradient(left, #0e419b 0%, #19859c 100%);
    background: linear-gradient(to right, #0e419b 0%, #19859c 100%);
  color:#fff;
}

h1 {
  margin-top: 7%;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 40px;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

a {
  color:#fff;
  text-decoration:none;
}

a:hover {
  color:#ddd;
}

a span.fa {
  font-size: 30px;
  margin: 0 5px;
}

.container-full {
  padding-top: 10%;
  background-color:transparent;
  margin: 0 auto;
}
