:root {
  --primary: #ffce00;
  --secundary: #999;
  --dark: #06799F;
  --bg-gray: #efefef;
}

body {
  background-color: var(--bg-gray);
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 32px;
  margin: 15px 0 12px;
}

small {
  font-size: 20px;
}

.container {
  padding: 20px;
  margin: 10vh 0;
}
